@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* Global base theme */
@layer theme {
  :root {
    --dark: hsl(0 0% 0%);
    --light: hsl(0 0% 98%);

    --background: hsl(0 0 98%);

    --foreground: hsl(0 0% 5%);
    --foreground-secondary: hsl(0 0% 40%);

    --outline: hsl(0 0% 75%);
  }
}

/* Inline CSS variables exposed to components */
@theme inline {
  --color-light: var(--light);
  --color-dark: var(--dark);

  --color-background: var(--background);

  --color-outline: var(--outline);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1.5rem;
  --text-lg: 2rem;
  --text-xl: 3rem;
  --text-2xl: 4rem;

  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 80px;

  --breakpoint-xs: 400px;
  --spacing-screen-minus-nav: calc(100vh - 32px);

  --font-sans: "Helvetica";
  --font-mono: var(--font-geist-mono);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/* Dark mode overrides */
@layer theme {
  [data-theme="dark"] {
    --background: hsl(0 0 0%);

    --outline: hsl(0 0% 25%);

    --foreground: hsl(0 0% 95%);
    --foreground-secondary: hsl(0 0% 60%);
  }
}

/* Global element styling */
body {
  font-family: var(--font-sans), sans-serif;
  font-size: var(--text-sm);
}

button {
  cursor: pointer;
}

.project_intro_grid {
  grid-template-rows: auto 1fr;
}

html.enable-transition body {
  transition:
    background-color 0.5s,
    color 0.5s;
}
